.container {
    height: 1000px;
    color: white;
}

form {
    padding-top: 50px;
}

.control-label {
    text-align: left !important;
}

button {
    background-color: green;
    border: 1px solid green;
    padding: 15px 30px;
    border-radius: 0px;
}

button:hover {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 10px;
}